body {
    background-color: rgb(82, 157, 82);
    overflow: hidden;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-entry-form {
    align-items: center;
    position: relative;
    height: 50%;
    width: 50%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    background: aliceblue;
}

.label-name-entry-form {

}

.input-name-entry-form {

}

.send-button {

}