<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>

    <title>Home</title>
</head>
<body>

    <div class = 'container' >
        <div class = 'user-entry-form' >
        <label class = 'label-name-entry-form' > Insira seu nome</label>
        <input class = 'input-name-entry-form' ></>
        <button type = 'button' class = 'send-button' >Entrar</>
        </div>
    </div>
    
</body>
</html>